body {
    background-color: black;
}

h1 {
    color: white;
}

p {
    background-color: gray;
    color: white;
}


/*
#paragraphOne {
    color: tomato;
}

#paragraphTwo {
    color: blue;
}

#paragraphThree {
    color: lightseagreen;
}

#paragraphFour {
    color: yellow;
    background-color: pink;
}
*/

.oddParagraph {
    color: red;
}

.evenParagraph {
    color: blue;
}